body {
  background: #f8f8f8;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
h1,
h2,
h3,
h4,
h5,
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  strong {
    font-weight: 700;
  }
}

.login,
.contact {
  .form-control {
    border: 3px solid #1f1e1d;
    margin-top: 1rem;
    color: #6c6c6c;
    &:focus {
      background: transparent;
      border-color: inherit;
      box-shadow: none;
    }
    &::placeholder,
    &::-ms-input-placeholder,
    &:-ms-input-placeholder {
      color: #6c6c6c;
      text-transform: capitalize;
    }
  }
}

/*
  xs: 0,
  sm: 800px,
  md: 1000px,
  lg: 1200px,
  xl: 1400px,
*/

body,
section {
  font-weight: 300;
}

section,
footer {
  background: #fff;
  overflow: hidden;
}

.cookieConsent {
  background: color('black') !important;
  color: #fff !important;
  div,
  button {
    margin: 0 !important;
  }
  button {
    color: #fff !important;
    background: transparent !important;
    font-weight: 600;
    padding: 0 !important;
  }
  a {
    color: #fff !important;
    text-decoration: underline !important;
  }
}

.pagination {
  justify-content: center;
  .page-link {
    padding: 0.3rem 0.55rem;
    line-height: 1.2;
  }
  .page-item.active {
    .page-link {
      background-color: color('black');
      border-color: color('black');
    }
  }
}

section {
  &.shadow {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04) !important;
    border-radius: 8px;
    margin-bottom: 30px;
    form {
      label {
        color: color('gray-dark');
        font-weight: 400;
      }
      input,
      button {
        font-size: inherit;
      }
    }
  }
}

@include media-breakpoint-up(xs) {
  body,
  section {
    font-size: base-font-size('xs');
  }
  h1,
  .title {
    font-size: h1-font-size('xs');
  }
  h2 {
    font-size: h2-font-size('xs');
  }
  .pagination {
    margin-top: 0;
  }
  .cookieConsent {
    padding: 0.5rem 2.2rem;
    button {
      margin-top: 10px !important;
    }
  }
  .container {
    padding: 0 2.2rem;
  }
  section {
    &.shadow {
      padding: 1rem;
    }
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@include media-breakpoint-up(sm) {
  body,
  section {
    font-size: base-font-size('sm');
  }
  h1,
  .title {
    font-size: h1-font-size('sm');
  }
  h2 {
    font-size: h2-font-size('sm');
  }
  .cookieConsent {
    padding: 0.5rem 2.2rem;
    button {
      margin-left: 15px !important;
      margin-top: 0 !important;
    }
  }
  .container {
    padding-right: 90px;
    padding-left: 160px;
  }
  .container-fluid {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@include media-breakpoint-down(xs) {
  .cookieConsent {
    > div {
      flex: 1 0 100% !important;
    }
  }
  section {
    &.shadow {
      border-left: 0 !important;
      border-right: 0 !important;
      border-bottom: 0 !important;
    }
  }
}

@include media-breakpoint-up(md) {
  body,
  section {
    font-size: base-font-size('md');
  }
  h1,
  .title {
    font-size: h1-font-size('md');
  }
  h2 {
    font-size: h2-font-size('md');
  }
  .pagination {
    margin-top: 25px;
  }
  .cookieConsent {
    padding: 0.5rem 2.2rem;
  }
  .container {
    padding-right: 95px;
    padding-left: 190px;
  }
  section {
    &.shadow {
      padding: 1.5rem;
    }
  }
  .container-fluid {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
  }
}

@include media-breakpoint-up(lg) {
  body,
  section {
    font-size: base-font-size('lg');
  }
  h1,
  .title {
    font-size: h1-font-size('lg');
    line-height: 1.1;
  }
  h2 {
    font-size: h2-font-size('lg');
  }

  .cookieConsent {
    padding: 0.5rem 2.2rem;
  }
  .container {
    padding-right: 95px;
    padding-left: 396px;
  }
  section {
    &.shadow {
      padding: 2rem;
    }
  }
  .container-fluid {
    padding-right: 2.2rem;
    padding-left: 2.2rem;
  }
}

@include media-breakpoint-up(xl) {
  body,
  section {
    font-size: base-font-size('xl');
  }
  h1,
  .title {
    font-size: h1-font-size('xl');
  }
  h2 {
    font-size: h2-font-size('xl');
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .container-fluid {
    padding-right: 2.2rem;
    padding-left: 2.2rem;
  }
}

.form-control {
  padding: 0.7rem 0.6rem !important;
  border-radius: 8px !important;
  height: auto !important;
  text-align: left;
  background: transparent;
  color: #6c6c6c;
  border: 3px solid color('gray');
  &:focus {
    background: transparent;
    border-color: inherit;
    box-shadow: none;
  }
  &::placeholder,
  &::-ms-input-placeholder,
  &:-ms-input-placeholder {
    color: #6c6c6c;
    text-transform: capitalize;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px color('white') inset;
}

.invalid-feedback {
  font-size: inherit;
  font-weight: 500;
  margin: 0.5em 0 0 0;
}

.alert-danger,
.alert-success {
  color: color('white');
}

.alert-dismissible .close {
  background: transparent;
  border: 0;
}

table,
.table {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  thead {
    background: #0e1111;
    th {
      font-weight: 400;
      border: 0;
      color: #fff;
    }
  }
  .btn-sm {
    padding: 0.2rem 0.2rem;
    font-size: 0.8rem;
    line-height: 1;
  }
  td {
    border-top: 0;
  }
}

.btn {
  border-radius: 8px !important;
}
