h1,
h2,
h3,
h4,
h5,
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  strong {
    font-weight: 700;
  }
}

.login {
  .form-control {
    border: 3px solid #1f1e1d;
    margin-top: 1rem;
    color: #6c6c6c;
    &:focus {
      background: transparent;
      border-color: inherit;
      box-shadow: none;
    }
    &::placeholder,
    &::-ms-input-placeholder,
    &:-ms-input-placeholder {
      color: #6c6c6c;
      text-transform: capitalize;
    }
  }
}

/*
  xs: 0,
  sm: 800px,
  md: 1000px,
  lg: 1200px,
  xl: 1400px,
*/

body,
section {
  font-weight: 300;
}

.cookieConsent {
  background: color('black') !important;
  color: #fff !important;
  div,
  button {
    margin: 0 !important;
  }
  button {
    color: #fff !important;
    background: transparent !important;
    font-weight: 600;
  }
}

@include media-breakpoint-up(xs) {
  body,
  section {
    font-size: base-font-size('xs');
  }
  h1,
  .title {
    font-size: h1-font-size('xs');
  }
  h2 {
    font-size: h2-font-size('xs');
  }
  .cookieConsent {
    padding: 0.5rem 2.2rem;
  }
  .container {
    padding: 0 2.2rem;
  }
  section {
    &.bordered {
      padding: 0.5rem;
    }
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
@include media-breakpoint-up(sm) {
  body,
  section {
    font-size: base-font-size('sm');
  }
  h1,
  .title {
    font-size: h1-font-size('sm');
  }
  h2 {
    font-size: h2-font-size('sm');
  }
  .cookieConsent {
    padding: 0.5rem 2.2rem;
  }
  .container {
    padding-right: 90px;
    padding-left: 160px;
  }
  section {
    &.bordered {
      padding: 1rem;
    }
  }
  .container-fluid {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
@include media-breakpoint-up(md) {
  body,
  section {
    font-size: base-font-size('md');
  }
  h1,
  .title {
    font-size: h1-font-size('md');
  }
  h2 {
    font-size: h2-font-size('md');
  }
  .cookieConsent {
    padding: 0.5rem 2.2rem;
  }
  .cookieConsent {
    padding: 2.2rem;
  }
  .container {
    padding-right: 95px;
    padding-left: 190px;
  }
  section {
    &.bordered {
      padding: 1.5rem;
    }
  }
  .container-fluid {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
  }
}
@include media-breakpoint-up(lg) {
  body,
  section {
    font-size: base-font-size('lg');
  }
  h1,
  .title {
    font-size: h1-font-size('lg');
    line-height: 1.1;
  }
  h2 {
    font-size: h2-font-size('lg');
  }

  .cookieConsent {
    padding: 0.5rem 2.2rem;
  }
  .container {
    padding-right: 95px;
    padding-left: 396px;
  }
  section {
    &.bordered {
      padding: 2rem;
    }
  }
  .container-fluid {
    padding-right: 2.2rem;
    padding-left: 2.2rem;
  }
}
@include media-breakpoint-up(xl) {
  body,
  section {
    font-size: base-font-size('xl');
  }
  h1,
  .title {
    font-size: h1-font-size('xl');
  }
  h2 {
    font-size: h2-font-size('xl');
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .container-fluid {
    padding-right: 2.2rem;
    padding-left: 2.2rem;
  }
}

.form-control {
  padding: 0.7rem 0.6rem !important;
  border-radius: 3px !important;
  height: auto !important;
  text-align: left;
  background: transparent;
  color: #6c6c6c;
  border: 3px solid color('gray');
  &:focus {
    background: transparent;
    border-color: inherit;
    box-shadow: none;
  }
  &::placeholder,
  &::-ms-input-placeholder,
  &:-ms-input-placeholder {
    color: #6c6c6c;
    text-transform: capitalize;
  }
}

section {
  &.bordered {
    border: 1px solid color('gray');
    border-radius: 3px;
    form {
      label {
        color: color('gray-dark');
        font-weight: 500;
      }
      input,
      button {
        font-size: inherit;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px color('white') inset;
}

.invalid-feedback {
  font-size: inherit;
  font-weight: 500;
  margin: 0.5em 0 0 0;
}

.alert-danger,
.alert-success {
  color: color('white');
}

.alert-dismissible .close {
  background: transparent;
  border: 0;
}

table,
.table {
  thead {
    background: #f7f7f7;
    th {
      font-weight: 500;
      border: 0;
      color: rgba(17, 51, 83, 0.6);
    }
  }
  .btn-sm {
    padding: 0.2rem 0.2rem;
    font-size: 0.8rem;
    line-height: 1;
  }
}

.pagination {
  margin-top: 30px;
  justify-content: center;
  .page-link {
    padding: 0.3rem 0.55rem;
    line-height: 1.2;
  }
  .page-item.active {
    .page-link {
      background-color: color('black');
      border-color: color('black');
    }
  }
}
