@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800');

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$colors: (
  'black': #0e1111,
  'blue': $blue,
  'red': #dc3545,
  'orange': $orange,
  'yellow': #ffc107,
  'green': #28a745,
  'white': #ffffff,
  'gray': #eee,
  'gray-dark': #5a5f6d,
);

$theme-colors: (
  primary: color('black'),
  secondary: #fffa94,
  success: color('green'),
  info: color('blue'),
  warning: color('yellow'),
  danger: color('red'),
);

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1200px,
);
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
);

$body-bg: #fff;
$body-color: color('black');

$font-family-sans-serif: 'Helvetica Neue', sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$font-size-large: $font-size-base;
$font-size-small: 14px;

$h1-font-size: 3.75rem;

$alert-bg-level: 0;
$alert-border-level: 1;

/*
  TODO: import on each component or page what is necesary
*/
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/utilities';

body {
  font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  strong {
    font-weight: 700;
  }
}

.container {
  padding-right: 95px !important;
  padding-left: 396px !important;
}

.title {
  font-size: $h1-font-size !important;
}

.login {
  .form-control {
    /*
    border: 3px solid #1f1e1d;
    padding: 1.7rem 1.5rem;
    */
    margin-top: 1rem;
    color: #6c6c6c;
    &:focus {
      background: transparent;
      border-color: inherit;
      box-shadow: none;
    }
    &::placeholder,
    &::-ms-input-placeholder,
    &:-ms-input-placeholder {
      color: #6c6c6c;
      text-transform: capitalize;
    }
  }
  /*
  .btn {
    padding: 1rem 1.5rem;
  }*/
}

.form-control,
.btn {
  padding: 0.7rem 0.6rem !important;
  border-radius: 3px !important;
  height: auto !important;
}

.form-control {
  background: transparent;
  color: #6c6c6c;
  border: 3px solid #1f1e1d;
  &:focus {
    background: transparent;
    border-color: inherit;
    box-shadow: none;
  }
  &::placeholder,
  &::-ms-input-placeholder,
  &:-ms-input-placeholder {
    color: #6c6c6c;
    text-transform: capitalize;
  }
}

section {
  font-size: 14px;
  &.bordered {
    padding: 2rem;
    border: 1px solid color('gray');
    border-radius: 3px;

    form {
      label {
        color: color('gray-dark');
        font-weight: 500;
      }
      .form-control {
        border-color: color('gray');
      }
      input,
      button {
        font-size: inherit;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px color('white') inset;
}

.invalid-feedback {
  font-size: inherit;
  font-weight: 500;
  margin: 0.5em 0 0 0;
}

.alert-danger,
.alert-success {
  color: color('white');
}

.alert-dismissible .close {
  background: transparent;
  border: 0;
}

.container-fluid {
  padding-right: 2.2rem;
  padding-left: 2.2rem;
}
